<div class="page-header">
  <h1>
    Properties
    <a href="/properties/new" class="btn btn-lg btn-success">New Property</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "properties_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :price, "Price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
  <%= f.label :acreage, "Acreage" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :acreage_gteq, :class => "form-control", :placeholder => "Acreage greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :acreage_lteq, :class => "form-control", :placeholder => "Acreage less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :city_cont, "City contains" %>
    <%= f.text_field :city_cont, :class => "form-control", :placeholder => "City contains" %>
  </div>

<div class="form-group">
    <%= f.label :state_cont, "State contains" %>
    <%= f.text_field :state_cont, :class => "form-control", :placeholder => "State contains" %>
  </div>

<div class="form-group">
  <%= f.label :zip_code, "Zip code" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :zip_code_gteq, :class => "form-control", :placeholder => "Zip code greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :zip_code_lteq, :class => "form-control", :placeholder => "Zip code less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Picture Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='picturesgteqcreated_atPicker'>
                  <%= f.text_field :pictures_created_at_gteq, :class => "form-control", :placeholder => "Picture Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='pictureslteqcreated_atPicker'>
                  <%= f.text_field :pictures_created_at_lteq, :class => "form-control", :placeholder => "Picture Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#picturesgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#pictureslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#picturesgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#pictureslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#pictureslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#picturesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :property_reviews_content_cont, "PropertyReview content contains" %>
      <%= f.text_field :property_reviews_content_cont, :class => "form-control", :placeholder => "PropertyReview content contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/properties" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#properties_filters">
      Show Filters
    </a>
  </div>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Address</th>
        <th>Zip code</th>
        <th>State</th>
        <th>City</th>
        <th>Acreage</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>

      <% @properties.each do |property| %>
      <tr>
        <td>
          <% if property.user.present? %>
            <a href="/users/<%= property.user.id %>">
              <%= property.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= property.address %></td>
        <td><%= property.zip_code %></td>
        <td><%= property.state %></td>
        <td><%= property.city %></td>
        <td><%= property.acreage %></td>
        <td><%= property.description %></td>
        <td><%= property.price %></td>
        <td>
          <a href="/properties/<%= property.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == property.user %>
            <a href="/properties/<%= property.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_property/<%= property.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @properties, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>