<div class="page-header">
  <h1>
    Property reviews
    <a href="/property_reviews/new" class="btn btn-lg btn-success">New Property review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Content</th>
        <th>Property</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @property_reviews.each do |property_review| %>
      <tr>
        <td><%= property_review.content %></td>
        <td>
          <% if property_review.property.present? %>
            <a href="/properties/<%= property_review.property.id %>">
              <%= property_review.property.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if property_review.user.present? %>
            <a href="/users/<%= property_review.user.id %>">
              <%= property_review.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/property_reviews/<%= property_review.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == property_review.user %>
            <a href="/property_reviews/<%= property_review.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_property_review/<%= property_review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @property_reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
